//fontes
$fontPrincipal: Roboto, sans-serif;

//esquema de cores
$corDeFundo: #c8d6e5;
$corPrincipal: #01a3a4;
$corSecundaria: #00d2d3;
$corbotoes: #00b250;
$corbotoes2: #54f49c;
$color: #eee;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;